img{
    border-radius: 50%;
    background: white;
}

.container{
    display: flex;
    flex-flow: row wrap;
      
    .quadrant{
    width: 45%;
    height: auto;
    margin: 2.5%;
    box-sizing: border-box;
    background: white;
    }
    .quadrant-two, .quadrant-tree{
        padding: 2.5%;
        font-size: 1.5rem;
        line-height: 1.6rem;

    }

}